*{
	margin:0;
	padding:0;
	font-family: 'Poppins', sans-serif;
	box-sizing:border-box;
}

body {
	background-image: url('img/without\ middle.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    background-attachment: fixed;
    overflow-y: scroll;
   } 


header{
	position: relative;
}

header.fixed-top{
	position:fixed;
	top:0;
	left:0;
	width:100%;
}

.logo{
    display: inline-block;
    padding: 10px;
	left: 200px;
}

.logo img {
    max-height: 80px; 
	margin-left: 50px;
    vertical-align: middle; 
}


.content-below-header { 
    margin-top: 60px; 
}

nav {
	background-color: #ffffff;
	border-bottom:3px solid green;
}

nav ul{ 
	list-style:none;
	float:right;
	display:flex;
	margin:0;
	padding:0;
	padding-top:18px;
}

nav ul li a{
	color:#077245;
	text-decoration:none;
	padding:12px 40px;
	line-height:60px;
	font-size:20px;
	font-weight:bold;	
	text-transform:uppercase;
	border-radius: 2px ;

}

nav ul li a:hover{
	color:black;
	background:#3ce41b;
	border-radius:50px;
	transition:0.2s;
}

nav ul li a:active{
	background:#d6e8db;
	color:#000000;
	border-radius:20px;
}

nav ul li a.active { 
	border-bottom: 3px solid green;
	color:#000000;
}
 